li{
	list-style: none;
}

.category{
	text-align: left;
	cursor: pointer;
	width: 100%;
}


.current{
	font-weight: bold!important;
}

ul > li .col-md-12 {
	padding: 0
}

img{
	width: 100%!important;
}